<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Lato%3A400%2C300%2C900%2C700" rel="stylesheet" type="text/css">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="bike-report" ng-controller="MainController as vm">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <button class="button button-icon" ng-click="vm.openLevelModal()">
          <i class="icon ion-gear-a"></i>
        </button>
        <h1 class="title">Your daily bike report</h1>
      </ion-header-bar>
      <ion-content>
        <div class="main-container">
          <div class="weather-wrap" ng-class="{good: vm.weatherClass == &apos;good&apos;,
          snow: vm.weatherClass == &apos;snow&apos;, rain: vm.weatherClass == &apos;rain&apos;}">
            <i class="icon ion-android-bicycle"></i>
            <h3>{{vm.summary}}</h3>
            <h1>{{vm.temp}}<sup>&#x2103;</sup></h1>
            <h5 class="subheading">{{vm.currentCity.name}}</h5>
            <div class="tips">
              <span ng-if="vm.tempAdvice">{{vm.tempAdvice}}</span>
              <span ng-if="vm.rainAdvice">{{vm.rainAdvice}}</span>
              <span ng-if="vm.sunAdvice">{{vm.sunAdvice}}</span>
              <span ng-if="vm.windAdvice">{{vm.windAdvice}}</span>
            </div>

          </div>
          <div class="details">
            <div class="item sun">
              <div class="line"></div>
              <div class="circle">
                <h4><p>Sunrise</p><span>{{vm.sunrise}}</span></h4>
                <h4><p>Sunset</p><span>{{vm.sunset}}</span></h4>
              </div>
            </div>
            <div class="item">
              <h3>Wind forecast</h3>
              <!--<img src="img/wind.svg" alt="wind icon" width="30" height="30">-->
              <h4><i>{{vm.weatherData.windSpeed}} m/s</i></h4>
            </div>
            <div class="item">
              <h3>Temperature</h3>
              <div class="inner">
                <!--<img src="img/temp.svg" alt="temperature icon" width="30" height="30">-->
                <p>Lowest is <b>{{vm.minTempData}}</b> <sup>&#x2103;</sup>,
                  &#xA0;Highest is <b>{{vm.maxTempData}}</b> <sup>&#x2103;</sup>
                </p>
              </div>
            </div>

            <div class="item">
              <h3>Trail conditions</h3>
              <!--<i class="icon ion-ios-information-outline"></i>-->
              <h4>{{vm.getTrailStatus}}</h4>
            </div>
            <!--<div class="item">-->
             <!--<img src="img/ios-sunny-outline.svg" alt="rain icon" width="60" height="60"> &lt;!&ndash;//REPLACE WITH showRainIcon&ndash;&gt;-->
              <!--<h4><i>{{vm.showRainIcon}}</i></h4> -->
            <!--</div>-->

            <!--<div class="btn" ng-click="showTrails=true">Show recommended trails</div>-->
          </div>


          <div class="trails-container">
            <h3>Recommended trails for today</h3>
            <h6>level: {{vm.level}}</h6>
            <p ng-repeat="trail in vm.trails[vm.level]">
              <a href="#" ng-click="vm.openLink(trail.url)" ng-show="trail.muddy != vm.muddy">
                <span class="t-heading">{{trail.title}}</span>
                <span class="t-length">Length: {{trail.length}}</span>
              </a>
              <i class="icon ion-ios-arrow-right"></i>
            </p>
          </div>
        </div>

      </ion-content>
    </ion-pane>


    <script id="user-level-modal.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-dark">
          <button class="button button-icon" ng-click="vm.closeLevelModal()">
            <i class="icon ion-close"></i>
          </button>
          <h1 class="title">Choose difficulty</h1>

        </ion-header-bar>
        <ion-content>
          <ion-list>
            <ion-radio ng-model="vm.level" ng-value="'Beginner'">Beginner</ion-radio>
            <ion-radio ng-model="vm.level" ng-value="'Intermediate'">Intermediate</ion-radio>
            <ion-radio ng-model="vm.level" ng-value="'Expert'">Expert</ion-radio>
          </ion-list>
          <h3>For testing purposes</h3>
          <div class="city" ng-click="vm.setCity('Brisbane')">Brisbane</div>
          <div class="city" ng-click="vm.setCity('Tromso')">Tromso</div>
          <div class="city" ng-click="vm.setCity('Oslo')">Oslo</div>
          <div class="city" ng-click="vm.setCity('Skye')">Isle Of Skye, UK</div>
        </ion-content>
      </ion-modal-view>
    </script>

  </body>
</html>
